@font-face {
    font-family: myFont;
    src: url(amongusRegular.ttf);
}

body {
    font-family: myFont;
}

header {
    display: flex;
    justify-content: space-around; 
    font-size: 2rem;
}


.ground{
    position: fixed;
    bottom: 0px;
    background-color: aqua;
    width: 100%;
    height: 20vh;
}

.player{
    background-color: red;
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 20vh;
    left: 35vh;
    z-index: 5;
}
.enemy{
    background-color: red;
    height: 15vh;
    width: 15vh;
    position: fixed;
    bottom: 20vh;
    left: 0vh;
}
.explosion{
    background-color: transparent;
    height: 20vh;
    width: 20vh;
    position: fixed;
    bottom: 20vh;
    left: 10vh;
    z-index: 10;
}

.test{
    background-color: green;
    position: fixed;
}

.obstacle1{
    /*short box*/
    height: 10vh;
    width: 10vh;
    bottom: 20vh;
    background-image: "";
}
.obstacle2{
    /*long box*/
    height: 10vh;
    width: 20vh;
    bottom: 20vh;
    background-image: "";
}
.obstacle3{
    /*long knife*/
    height: 50vh;
    width: 25vh;
    bottom: 25vh;
    background-image: "";
}
.obstacle4{
    /*single knife*/
    height: 50vh;
    width: 10vh;
    bottom: 25vh;
    background-image: "";
}
.obstacle5{
    /*tall box*/
    height: 25vh;
    width: 10vh;
    bottom: 20vh;
    background-image: "";
}

.start{
    /*border: blue solid 2px;*/
    position: fixed;
    width: 100%;
    text-align: center;
    top: 30vh;
}
.start :nth-child(1){
    font-size: 10vh;
}
.start :nth-child(2){
    font-size: 4vh;
}

.gameOver{
    /*border: blue solid 2px;*/
    position: fixed;
    width: 100%;
    text-align: center;
    top: 30vh;
    display: none;
}
.gameOver :nth-child(1){
    font-size: 10vh;
}
.gameOver :nth-child(2){
    font-size: 4vh;
}
.quitButtonLink{
    font-size: 4vh;
    height: 10px;
}

