@font-face {
    font-family: myFont;
    src: url(amongusRegular.ttf);
}

body {
    font-family: myFont;
}

header {
    display: flex;
    justify-content: space-around; 
    font-size: 2rem;
}
.ground{
    position: fixed;
    bottom: 0px;
    background-color: aqua;
    width: 100%;
    height: 20vh;
}

.player{
    background-color: red;
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 20vh;
    left: 35vh;
}


