@font-face {
    font-family: myFont;
    src: url(amongusRegular.ttf);
}

body {
    font-family: myFont;
    color: white
}

header {
    display: flex;
    justify-content: center; 
}

.home {
   display: flex;
   justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
}

#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
