@font-face {
    font-family: myFont;
    src: url(amongusRegular.ttf);
}

body {
    font-family: myFont;
    background-image: url(sprites/red.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100%;
}

header {
    display: flex;
    justify-content: center; 
}

.score {
    display: flex;
    justify-content: center;
}

.dead {
    display: flex;
    justify-content: center; 
}

.buttons {
    display: flex;
    justify-content: center; 
}
